<!DOCTYPE html>
<html ng-app="vizApp">
<head lang="en" >
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1" >-->
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboardCSS/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboardCSS/main.css">
</head>
<body ng-controller="dataCtrl">


<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script type="text/javascript" src="/javascripts/dashboardJS/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/dashboardJS/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/dashboardJS/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/dashboardJS/d3.min.js"></script>
<script type="text/javascript" src="/javascripts/dashboardJS/try1.js"></script>
<!--<script type="text/javascript" src="/javascripts/dashboardJS/socketStream.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/dashboardJS/socketTry2.js"></script>-->
<div class="chartBox"></div>
</body>
</html>