<form  id="form_main" action="">
    <br>
    <br>
    <h2>Personal information:</h2>
    First name:<br>
    <input type="text" name="username" class="username" placeholder="Name">
    <input class="btn btn-default pull-right" id="form1" type="submit"  value="Submit">
</form>
<br>
<br>
<ul class="messenger" style="list-style: none;padding: 0px" id="messages">
</ul>


<div class="container panel fixBottom">
    <form id="form2"  action="">
        <h3>Write your message</h3>
        <input type="text" class="m" name="msg" autocomplete="off" >
        <input class="btn btn-default pull-right" type="submit" value="Submit">
    </form>
</div>